@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
body {
  font-family: 'Hind', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;

}

.trending__box {
    width: 99%;
    height: 20rem!important;
    background-color: black;
    color: white;
    margin-top: 1rem;
}
.trending__box h1 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 2rem;
    font-weight: 400;
}

.trending__box .swiper {
    width: 100%!important;
    height: 10rem !important;
}
/* .trending__box .Card {
    width: 100%!important;
    height: 15rem !important;
  
} */
.swiper-trending-image {
    width: 100%!important;
    height: 100% !important;
    object-fit: fill;
    border-radius: 5px;
}